.album {
  /*margin-top: 130px;*/
  max-width: 1080px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.33%;
  padding-right: 4.33%;
  box-sizing: content-box;
  align-self: center;
}
.f-section {
  /*font-family: Microsoft JhengHei, serif;	*/
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  /* Flex Box 設定內部元素置中	
      
     justify-content: center;
      align-items: center; */
}
.f-section-70 {
  /*font-family: Microsoft JhengHei, serif;	*/
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  /* Flex Box 設定內部元素置中	
    
   justify-content: center;
    align-items: center; */
}

.v-section {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% -1%;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-section-70 {
  margin-top: 0px;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: 50% -1%;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
}

#sec0 {
  background-image: url(./../img/shilin_before.jpg);
}

#sec0_m {
  background-image: url(./../img/shilin_before_m.jpg);
}

#sec1 {
  background-image: url(./../img/shilin_after.jpg);
}
#sec1_m {
  background-image: url(./../img/shilin_after_m.jpg);
}

#sec2 {
  background-image: url(./../img/shilin_before_1.jpg);
}
#sec3 {
  background-image: url(./../img/shilin_after_1.jpg);
}
#shilin_bg {
  background-image: url(./../img/shilin_bg.jpg);
}
#shilin_bg_m {
  background-image: url(./../img/shilin_bg_m.jpg);
}
#white {
  color: white;
}

#whiteline {
  border-bottom: #fff 2px solid;
}
